BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 80
SortIncludes: true
IncludeBlocks: Merge

BraceWrapping:
  AfterControlStatement: true
  AfterEnum: false
  AfterFunction: false
  AfterStruct: false
  AfterUnion: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
